{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<style>

</style>

<div class="wrapper">
<div class="container">

    <h2> Sont-ils légitimes ?</h2>
    <p>
        Dans une démocratie représentative, les élections
        ne sont pas une fin en soi, c'est un moyen de choisir nos représentants.
        Il en existe d'autres, comme le tirage au sort.
    </p>
    <p>
        Les citoyens de la Convention sont, par définition, représentatifs de la
        société française. C'est un échantillon représentatif de la société en
        terme d'âge, de sexe, de classe socio-professionnelle et de répartition
        géographique. A cet égard, on peut même dire qu'ils sont plus
        représentatifs que les élus.
    </p>

</div>
</div>


<div class="wrapper grey-bg">
<div class="container">

    <h2>N'est-ce pas le travail des élus ?</h2>
    <p>
        Le système politique actuel, en France comme ailleurs, souffre de
        plusieurs maux : oppositions partisannes, lobbies,
        court-termisme. La plupart sont liés aux échéances électorales,
        et les hommes et femmes politiques sont victimes de cette situation.
    </p>
    <p>
        Une assemblée citoyenne court-circuite ces travers : pas de logique de
        partis, pas de court-termisme électoral ni de crainte de froisser telle
        ou telle partie de l’électorat.
    </p>
    <p>
        Les membres d'une assemblée citoyenne sont libres de se concentrer
        pleinement sur leur mandat.
    </p>
    <p>
        Quand les sujets à traiter sont trop brûlants,
        une assemblée citoyenne peut donc venir en aide
        aux structures politiques classiques.
    </p>
    <p>
        C'est un outil démocratique à découvrir,
        à partager et à soutenir, car il nous permet d'aller
        vers une démocratie plus apaisée et plus efficace.
    </p>

    <div class="youtube-video-wrapper">
        <iframe width="560" height="315"
            src="https://www.youtube.com/embed/UHq1LH_hfQ8"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="">
        </iframe>
    </div>

    <!--h3>Présentation de la Convention par Cyril Dion</h3>
    <div class="youtube-video-wrapper">
        <iframe width="560" height="315"
            src="https://www.youtube.com/embed/SIyoEGizt8M?start=3026"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="">
        </iframe>
    </div-->

</div>
</div>


{% endblock %}
