<footer>
    <div class="wrapper">
        <div class="container">

            <style type="text/css">
            </style>

            <p>#soutenonsLaConvention</p>
            <p>
                <a target="_blank" href="https://www.facebook.com/Soutenons-la-Convention-102637561438247">
                    <img src="${static('img/icon-facebook-white.png')}" alt=""/>
                </a>
                <a target="_blank" href="https://twitter.com/SoutenonsLaCCC">
                    <img src="${static('img/icon-twitter-white.png')}" alt=""/>
                </a>
            </p>

        </div>
    </div>
</footer>
