<header class="header">
    <div class="wrapper banner">
        <div class="container">
            <div class="site-title">
                C'est Qui ces gens !?
            </div>
        </div>
    </div>
</header>
